{% extends "base.html" %}

{% block title %}
Snowflake Accelerator -- Welcome
{%  endblock %}

{% block content %}
    <article>
        <header>
            <h1>Snowflake Accelerator</h1>
            <p>This is a unified webportal for all the snowflake accelerators.</p>
        </header>
    </article>
	<div class="footer-container">
            <footer class="wrapper">
                <p style="color:black" >This is a WebPage developed by Snowflake GSI Team </p>
            </footer>
        </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
        